/* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap'); */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
html,body{
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  background: #204254;
}
/* heder  start*/
.nav-area{
    background: #b94a3e;
    margin-top: -16px
}
.Logo{
  width: 85px;
}
.nav-area ul li a:hover
{
    background: #b94a3e;
    
}
.nav-area ul li a
{
    text-decoration: none;
}
.nav-area ul li{
    list-style: none;
    /* justify-content: space-between; */
    padding: px;
}
.nav-area nav{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    padding: -6px;
    margin-top: 0px;
    width: 1363px;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  /* font-size: 18px; */
}
ul li{
  margin-right: 10px;
}
.nav-area ul{
  display: flex;
  width: 26%;
  margin-left: -15px;
  margin-top: 50px;
  margin: 40px;
  padding: -74px;
  font-size: 16px;
  margin-right: 59px;
  justify-content: flex-end;
  /* font-weight: bold; */
  font-size: 24px;
  align-content: flex-end;
}
.nav-area nav a{
    color: #fff;
    font-size: 22px;
}
.Logo{
    margin: 15px;
    font-size: 30px;
    color: #fff;
    font-family: sans-serif;
}
.nav-area ul li:not(:last-child){
    padding-right: 15px;
}
/* header  end  */
::selection{
  background: #204254;
  color: #fff;
}
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
  margin-top: 50px;
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.wrapper .slide-controls{
  position: relative;
  display: flex;
  height: 50px;
  width: 100%;
  overflow: hidden;
  margin: 30px 0 10px 0;
  justify-content: space-between;
  border: 1px solid lightgrey;
  border-radius: 5px;
}
.slide-controls .slide{
  height: 100%;
  width: 100%;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  line-height: 48px;
  cursor: pointer;
  z-index: 1;
  transition: all 0.6s ease;
}
.slide-controls label.signup{
  color: #000;
}
.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background:#204254;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
input[type="radio"]{
  display: none;
}
#signup:checked ~ .slider-tab{
  left: 50%;
}
#signup:checked ~ label.signup{
  color: #fff;
  cursor: default;
  user-select: none;
  background: #204254;
}
#signup:checked ~ label.login{
  color: #000;
}
#login:checked ~ label.signup{
  color: #000;
}
#login:checked ~ label.login{
  cursor: default;
  user-select: none;
  background: #b94a3e;
}
.wrapper .form-container{
  width: 100%;
  overflow: hidden;
}
.form-container .form-inner{
  display: flex;
  width: 200%;
}
.form-container .form-inner form{
  width: 50%;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}
.form-inner form .field{
  height: 50px;
  width: 100%;
  margin-top: 20px;
}
.form-inner form .field input{
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.form-inner form .field input:focus{
  border-color: #204254;
  /* box-shadow: inset 0 0 3px #fb6aae; */
}
.form-inner form .field input::placeholder{
  color: #999;
  transition: all 0.3s ease;
}
form .field input:focus::placeholder{
  color: #b3b3b3;
}
.form-inner form .pass-link{
  margin-top: 5px;
}
.form-inner form .signup-link{
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a{
  color: #204254;
  text-decoration: none;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover{
  text-decoration: underline;
}
form .btn{
  height: 50px;
  width: 100%;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
form .btn .btn-layer{
  height: 100%;
  width: 300%;
  position: absolute;
  left: -100%;
  background:#b94a3e;
  border-radius: 5px;
  transition: all 0.4s ease;;
}
form .btn:hover .btn-layer{
  left: 0;
}

/* تنسيق الa1 */
/* .a1{
height: 100%;
width: 100%;
z-index: 1;
position: relative;
background: #b94a3e;
border: none;
color: #fff;
padding-left: 0;
border-radius: 5px;
font-size: 20px;
font-weight: 500;
cursor: pointer;
} */
/*تنسيق الa1*/

form .btn .a1{
  height: 50px;
  display: flex;
  justify-content: space-between;
  z-index: 1;
  position: relative;
  background: #b94a3e;
  border: none;
  color: #fff;
  padding-left: 122px;
  text-decoration: none;
  border-radius: 5px;
  font-size: 20px;
  /* font-weight: 500; */
  cursor: pointer;
  align-items: center;

}
/* start footer */
 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
.row{
	display: flex;
	flex-wrap: wrap;
  margin-right: 100px;
}
ul{
	list-style: none;
  margin-right: 20px;
}
.footer{
    margin-top: 22px;
    background-color: #b94a3e;
    padding: 70px 0;
    width: 100%;
    direction: rtl;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #fff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:235px;
	bottom: -10px;
	background-color: #204254;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #fff;
	text-decoration: none;
	font-weight: 300;
	color: #fff;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}
/* end footer */